<!DOCTYPE html>
<html>
<head>
    <title>Timestamp Microservice</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>FreeCodeCamp - Backend - API Projects - Timestamp Microservice</h1>
<h2>API:</h2>
<h3>https://<%= serverHostName %>/:naturalLanguageDate(in UTC)</h3>
<h3>https://<%= serverHostName %>/:unixTimestamp(in second, in UTC)</h3>
<h2>Example usage:</h2>
<h3>https://<%= serverHostName %>/December%2015,%202015</h3>
<h3>https://<%= serverHostName %>/1450137600</h3>
<h2>Example output:</h2>
<h3>{ "unix": 1450137600, "natural": "December 15, 2015" }</h3>
</body>
</html>
